@tailwind base;
.dataTables_wrapper {
    padding: 20px 40px;
}

.dataTables_length {
    padding-bottom: 40px;
} 

.dataTables_wrapper select, .dataTables_wrapper .dataTables_filter input {
    color: #4a5568 !important;
    padding: 0.5rem 1rem !important;
    line-height: 1.25 !important;
    border-width: 2px !important;
    border-radius: 0 !important; 		
    border-color: #edf2f7 !important;
    background-color: #edf2f7 !important;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #ebf4ff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover		{
    font-weight: 700 !important;
    border-radius: 0 !important;
    border: 1px solid transparent !important;
    color: white !important;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
    color: #fff !important;
    font-weight: 700 !important;
    border-radius: 0 !important;
    background: #2dd4bf !important;
    border: 1px solid transparent !important;
    margin-bottom: 16px !important;
    cursor: pointer;
}
    
table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0 !important;
    margin-bottom: 40px !important;
}
    
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    background-color: #2dd4bf !important;
}

.dataTables_info {
    padding-left: 10px !important;
}

table.dataTable thead th, table.dataTable thead td {
    border: none !important;
}

.parsley-errors-list {
    color: #c53030 !important;
    font-weight: bold !important;
    margin-top: 8px !important;
}

.swiper-button-next, .swiper-button-prev {
    color: #2dd4bf !important;
}

a[aria-selected="true"] {
    background: #2dd4bf !important;
}

.dz-button {
    color: #fff !important;
    border-radius: 0 !important;
    background: #2dd4bf !important;
    border: 1px solid transparent !important;
    margin-bottom: 16px !important;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 10px;
}

.dz-filename, .dz-success-mark, .dz-error-mark, .dz-remove {
    display: none;
}

#pdf-upload .dz-size {
    display: none;
}

.plans-pdf svg {
    width: 30px;
    display: inline-block;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #edf2f7;
}
    
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #2dd4bf;
}

.recipes ul, .recipes ol{
    list-style: auto !important;
    margin-left: 25px !important;
}

@media only screen and (max-width: 768px) {
    .dataTables_wrapper {
        padding: 20px 0;
    }
}

.slick-disabled {
    display: none !important;
}

@tailwind components;
@tailwind utilities;